#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=theZzz
GenericName[]=REST Client
Exec=thezzz %U
Icon=com.vicr123.thezzz
StartupWMClass=theZzz
